{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class='container'>
<form method="POST">{% csrf_token %}
<legend class="border-bottom mb-4"> Log in </legend>
{% comment %} {% for field in form %}
    <p>
      <strong>{{ field.label_tag }}</strong>
      <span class="float-right"> {{ field | attr:"class:form-control" }} </span>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
 {% endfor %}    {% endcomment %}
 {{form.as_p }}
<button class="btn btn-outline-info" style="margin:5px" type="submit"> Login</button>
<br>
<span><strong>
    Need An Account?<a class="ml-2" href={% url 'register' %}>Sign in</a>
</strong></span>

</form>
</div>
{% endblock %}