{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class='container'>
<form method="POST">{% csrf_token %}
<legend class="border-bottom mb-4"> Log in </legend>
    <div>
    <p >
      <div class="login-field">
        <strong><label for={{ form.username.id_for_label }}>Username:</label></strong>
        <span class="float-right"> {{ form.username | attr:"class:form-control" }}</span>
      </div>
      <span class="float-right" style="color:red;"> {{ form.password.errors }} </span>
    </p>
    <p>
      <div class="login-field">
        <strong><label for={{ form.password.id_for_label }}>Password:</label></strong>
        <span class="float-right"> {{ form.password | attr:"class:form-control" }}</span>
      </div>
      <span class="float-right" style="color:red;"> {{ form.password.errors }} </span>
    </p>
    <span style="text-align:right"> {{ form.non_field_errors }} </span>
  </div> 
<div class="login-ops">
  <strong>
    Need An Account?<a class="ml-2" href={% url 'register' %}>Sign Up</a>
  </strong>
  <button class="btn btn-outline-info" style="margin:5px" type="submit"> Login</button>
</div>

</form>
</div>
{% endblock %}