{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class='container'>
<form method="POST">{% csrf_token %}
<legend class="border-bottom mb-4"> Join Now</legend>
{% for field in form %}
    <p>
      <strong>{{ field.label_tag }}
      <span > {{ field | attr:"class:form-control" }} </span>
      </strong>
      {% for error in field.errors %}
        <p style="color: red; text-align:right">{{ error }}</p>
      {% endfor %}
    </p>
 {% endfor %}   
 <br>
 <div class="login-ops">
 <strong>
   Already have an account? <a href={% url 'login' %}>Log in</a>
  </strong>
  <button class="btn btn-outline-info" style="margin:5px" type="submit"> Register </button>
</div>

</form>
</div>
{% endblock %}