
<header>
<h5 class="logo" ><a class="" href="{% url 'blog:blog-home' %}">AnimeBlog</a></h5>
<input type="checkbox" id="nav-toggle" class="nav-toggle">

<nav role="navigation"  >
 {% comment %} <div class="collapse navbar-collapse" > {% endcomment %}
<ul >

<li class="nav-item"><a class="nav-link" href="{% url 'blog:blog-about' %}"><small>About</small></a></li>
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="{% url 'profile'%}"><small>Profile</small></a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><span class="last-nav"><small>Logout</small></a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="{% url 'login'%}"><small>Login</small></a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'register'%}"> <small>Register<small></a></li>

{% endif %}

</ul>
</nav>
<label for="nav-toggle" class="nav-toggle-label">
<span></span>
</label>
</header>
<br>