{% extends 'blog/base.html' %}
{% block content %}

<main>
<br>
        <article class="article-content" >
            <legend class="border-bottom mb-4">
            <img align="left" class="rounded-circle article-img" src=" {{object.author.profile.image.url}}">    
            <div class="mr-2" > {{ object.author }} </div>
            <div class="date"> {{ post.pub_date|date:'d M, Y' }}</div> 
            {% if object.author == user %}
            <div>
            <a href="{% url 'blog:post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1"> Update </a>
            <a href="{% url 'blog:post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1"> Delete </a>
            </div>
            {% endif %}
            </legend>
            <h2 class="article-title"> {{ object.title }} </h2>
            <p> {{ object.content }}</p>
        </article>
<br>

{% endblock %}