<style>

  h1{
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(43, 12, 190);
  }

  body{
    margin: 0px;
    background-color:white;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #727ee8;
    position: fixed;
    width: 100%;
    height: auto;
    position:sticky;
    top : 0;
  }
  
  li {
    float: right;
  }

  .home{
    float:left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-family: fantasy;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: black;
  }

  .blog-post{ 
    color: #3441bb;
    padding: 5px;
    border: 5px solid  #3442bbba;
    border-radius: 10px;
    display: block;
    width: 50%;
    margin: 0 auto;
    height: auto;
    text-decoration: dotted;
    font-weight: 300;
    text-align: justify;
    background-color: white;
    
  }

  .blog-title{
    
    border-bottom: 3px solid #3442bbba ;
  }

  .blog-date{
    font-size: small;
    text-align: right;
  }

  

</style>  