<style>

  h1{
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(43, 12, 190);
  }

  body{
   margin: 0px;
    background-color:white;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #727ee8;
    position: fixed;
    width: 100%;
    height: auto;
    position:sticky;
    top : 0;
  }
  
  
  .nav-link{
    color: white;
  }

  li a:hover {
    background-color:#3441bb;
    color:white;
  }

  .article-content{ 
    color: #3441bb !important;
    padding: 5px;
    border: 5px solid  #3442bbba;
    border-radius: 10px;
    display: block;
    width: 50%;
    margin: 0 auto;
    height: auto;
    text-decoration: dotted;
    font-weight: 300;
    text-align: justify;
    background-color: white;
    
  }

  .blog-title{
    text-align: center !important;
    size:30px;
    color:red !important;
  }

  .blog-date{
    font-size: small;
    text-align: right;
  }


</style>  